# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines, UTF-8 for all files
[*]
end_of_line = lf
charset = utf-8

# A newline ending every file (not sure if needed)
#insert_final_newline = true

# Tab indentation
indent_style = space
indent_size = 2